<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title></title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="${req.contextPath}/assets/img/favicon.ico" type="image/x-icon" />

    <!-- Google fonts include -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900%7CYesteryear" rel="stylesheet">

    <!-- All Vendor & plugins CSS include -->
    <link href="${req.contextPath}/assets/css/vendor.css" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="${req.contextPath}/assets/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
<script src="/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
<#include "./head.html">
    <!-- main wrapper start -->
        <script type="text/javascript">
    function addcart(id) {
        $.ajax({
            type: "post",
            url: "${req.contextPath}/wishcart/addwish",
            data: {"pid":id},
            success: function(date){
            	if(date=="200"){
            		alert("添加成功" );
                }else {
                    window.location.href ="http://"+window.location.host+"/login";
                }
            }
        });
    }
            function addwish(id) {
                $.ajax({
    	            type: "post",
    	            url: "${req.contextPath}/wishcart/addwish",
    	            data: {"pid":id},
    	            success: function(date){
    	            	if(date=="200"){
    	            		alert("添加成功" );
    	                }else {
    	                    window.location.href ="http://"+window.location.host+"/login";
    	                }
    	            }
    	        });
            }
</script>
    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area common-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <h1>product details</h1>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">product details</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page main wrapper start -->
        <div class="shop-main-wrapper section-space">
            <div class="container">
                <div class="row">
                    <!-- product details wrapper start -->
                    <div class="col-lg-12 order-1 order-lg-2">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                   <div class="product-large-slider">
                                   <#list 1..6 as t>
										<#list pro.photo?split(",") as name>
	                                       <div class="pro-large-img ">
	                                           <img src="${name}" alt="product-details" />
	                                       </div>
	                                  </#list>
									</#list>
	                                </div>
                                    <div class="pro-nav slick-row-10 slick-arrow-style">	
                                    <#list 1..6 as t>
                                    	<#list pro.photo?split(",") as name>
	                                       <div class="pro-nav-thumb">
	                                           <img src="${name}" alt="product-details" />
	                                       </div>
                                        </#list>
                                       </#list>
                                   </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        <h3 class="product-name">${pro.name}</h3>
                                        <div class="price-box">
                                            <span class="price-regular">${ pro.price?number * pro.discount }￥</span>
                                            <span class="price-old"><del>${pro.price}￥</del></span>
                                        </div><br>
                                        <h5 class="offer-text"><strong>Hurry up</strong>! offer ends in:</h5>
                                        <div class="product-countdown" data-countdown="2020/07/25"></div>
                                        <p class="pro-desc">${pro.describe}</p>
                                        <div class="quantity-cart-box d-flex align-items-center">
                                            <h5>qty:</h5>
                                            <div class="quantity">
                                                <div class="pro-qty"><input type="text" id="num" value="1"></div>
                                            </div>
                                            <div class="action_link">
                                                <a class="btn btn-cart2" href="###" onclick="addshopcart(${pro.id})" >Add to cart</a>
                                            </div>
                                        </div><br>
                                        <script type="text/javascript">
                                        function addshopcart(pid){
											var sid = $('#allsize option:selected').val();
											var cid = $("input[type='radio']:checked").val();
											var num = $("#num").val();
											$.ajax({
									            type: "post",
									            url: "${req.contextPath}/shopCart/addshopcart",
									            data: {"sid":sid,"cid":cid,"pid":pid,"num":num},
									            success: function(date){
									            	if(date=="200"){
									            		alert("添加成功");
									            	}else if(date=="400"){
									            		alert("添加失败");
									            	}else{
									            		window.location.href ="http://"+window.location.host+"/login";
									            	}
									            }
									        });
											
											
											
											
										}
										</script>
                                        <div class="pro-size">
                                            <h5>size :</h5>
                                            <select id="allsize" class="nice-select">
	                                            <#list size as x>
	                                                <option value="${x.id}">${x.size}</option>
	                                            </#list>
                                            </select>
                                        </div><br>
                                        <div class="color-option">
                                            <h5>color :</h5>
                                            <ul class="color-categories">
                                             	<#list color as x>
		                                                <li>
	                                                    ${x.color}：<input type="radio" value="${x.id}"> 
		                                                </li>
	                                            </#list>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->

                        <!-- product details reviews start -->
                        <div class="product-details-reviews section-space pb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_two">information</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content reviews-tab">
                                            <div class="tab-pane fade show active" id="tab_one">
                                                <div class="tab-one">
                                                    <p>${pro.describe}</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_two">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>color</td>
                                                            <td><#list color as x>${x.color}<#if x_has_next>,</#if></#list></td>
                                                        </tr>
                                                        <tr>
                                                            <td>size</td>
                                                            <td><#list size as x>${x.size}</span><#if x_has_next>,</#if></#list></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details reviews end -->
                    </div>
                    <!-- product details wrapper end -->
                </div>
            </div>
        </div>
        <!-- page main wrapper end -->

        <!-- related product area start -->
        <section class="related-products">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>Related Products</h2>
                            <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-carousel--4 slick-row-15 slick-sm-row-10 slick-arrow-style">
                           <#list productInfoSix as x >
                            <!-- product single item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="${req.contextPath}/productdetails/${x.id}">
                                        		<#assign id="1"/>
	                                            <#list x.photo?split(",") as name>
	                                            	<#if id=="1">  
	                                            		 <#assign id="2"/>
		                                                <img class="pri-img" src="${name}" alt="product">
		                                            <#else>    
		                                                <img class="sec-img" src="${name}" alt="product">
	                                          		</#if>
	                                            </#list>
                                    </a>
                                    <div class="product-badge">
                                        <div class="product-label new">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a href="###" onclick="addwish(${x.id})"data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="###"onclick="addcart(${x.id})" data-toggle="tooltip" data-placement="left" title="Add to Cart"><i class="lnr lnr-cart"></i></a>
                                    </div>
                                </figure>
                                <div class="product-caption">
                                    <p class="product-name">
                                        <a href="product-details.html">${x.name}</a>
                                    </p>
                                    <div class="price-box">
                                        <span class="price-regular">${ x.price?number * x.discount }￥</span>
                                        <span class="price-old"><del>${x.price}￥</del></span>
                                    </div>
                                </div>
                            </div>
                            <!-- product single item end -->
						</#list>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- related product area end -->
    </main>

    <!-- main wrapper end -->
<#include "./foot.html">
</body>

</html>
